:root{
    --tituloprincipalAzul:#0D09F4;
    --subtituloLaranja: #FF4B04;
    --cor-principal:#FFFFFF;
    --cordefundoprincipal: #000000;
    --botãoazul: #1E00FF;
    --fonte-principal: 'Roboto Mono';
}
body{
background-color: var(--cordefundoprincipal);
font-family: var(--fonte-principal);
font-size: 16px;
font-weight: 400;
color:var(--cor-principal);
}
.principal{
background-image: url("image/backgorund\ \(1).png");
background-repeat: no-repeat;
background-size: contain;
}
.container{
height: 100vh;
display: flex;
justify-content: space-around;

}
.container_botao{

background-color: var(--botãoazul);
border-radius: 5px;
padding: 1em;
color: var();

}